.box {
  width: 202px;
  height: 202px;
}
.box .inner {
  width: 200px;
  height: 200px;
}
#test1 {
  font-size: 20px;
  width: 300px;
  height: 0;
  border-width: 0px 150px 150px 0px;
  border-style: none solid solid;
  border-color: transparent transparent #ff0000;
  position: relative;
}
#test1::after {
  font-size: 20px;
  width: 290px;
  height: 0;
  border-width: 0px 150px 150px 0px;
  border-style: none solid solid;
  border-color: transparent transparent #0000ff;
  content: "hello ";
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 1;
}
